# Datos (no versionar: pesados y/o regenerables)
application_train.csv
eight_columns.csv
ext_source_missing_flags.csv
HomeCredit_columns_description.csv

*.png


# Python
__pycache__/
*.py[cod]
.ipynb_checkpoints/
.venv/
venv/
